.sochials{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__itemBlock{
    margin-left: 21px;
    list-style: none;
    &:first-child{
      margin-left: 0;
    }
  }
  &__item{
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: $danger-color;
    transition: 0.3s;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    path{
      transition: 0.3s;
    }
    &:hover{
      path{
        box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.29);
        fill: rgb(228, 228, 228);
      }
    }
    &_gradient{
      background: $danger-color-gradient;
    }
    &_green{
      background: $success-color;
      &:hover{
        background: $success-color-hover;
      }
    }
    &_blue{
      background: $primary-color;
      &:hover{
        background: $primary-color-hover;
      }
    }
  }
  &__icon{
    display: block;
  }
}